/* 基本的なリセット */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* body に flexbox を設定して中央揃え */
body {
    text-align: center;
    width: 100%;
    margin: 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
